:root {
    --cor1: black;
    --cor2: rgb(44, 43, 43);
    --transicao_hover: rgb(85, 84, 84);;
    --cor_teclas: rgb(22, 22, 22);
    --cor_btn_operacao: rgba(90, 89, 89, 0.507);
    --cor_fonte_btn_operacao: rgb(42, 202, 42);
    --cor_btn_resultado: rgba(38, 182, 38, 0.774);
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor1);
}

#container-visor {
    height: 30vh;
}

#teclado {
    height: 60vh;
}

#teclado > div > button, #teclado > div {
    margin: 0;
    padding: 0;
}

#visor {
    width: 100%;
    height: 100%;  
    box-sizing: border-box;
    background-color: var(--cor1);
    border: none;
    color: white;
    text-align: right;
    font-size: 3em;
}

.btn {
    color: white;
    font-size: 2em;
    text-align: center;
    height: 90%;
}

.numero, #ponto, #apagar-1 {
    background-color: var(--cor_teclas);
}

#resultado {
    background-color: var(--cor_btn_resultado);
}

.operacao, #limpar, #parenteses {
    background-color: var(--cor_btn_operacao);
    color: var(--cor_fonte_btn_operacao);
}

.operacao:hover, #parenteses:hover {
    background-color: var(--transicao_hover);
    color: var(--cor_fonte_btn_operacao);
}

#limpar:hover {
    background-color: var(--transicao_hover);
}

.btn:hover, #ponto:hover, #apagar-1:hover {
    background-color: var(--transicao_hover);
}

#limpar {
    color: red;
}

#resultado:hover {
    background-color: var(--cor_fonte_btn_operacao);
}

#primeira-coluna {
    border-top: 1px solid var(--cor2);
}

.no-line-break {
    white-space: nowrap;
}

#teclado > div {
    height: 22%;
}

button > img {
    display: block;
    width: 100%;
    height: 100%;
}